.bg-nav-custom {
  background: rgb(65, 12, 38);
  background: linear-gradient(
    90deg,
    rgba(65, 12, 38, 1) 0%,
    rgba(179, 165, 35, 0.8804597701149426) 100%
  );
}

/* Default height for small devices */
#intro-example {
    height: 400px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
  }
